<h1>Teams</h1>

<ul>
  <% if @teams %>
    <%= table_for @teams do -%>
      <% column :name %>
      <% column :pacing do |team| %>
        <input type="number" value="<%= team.pacing %>" 
               data-team-id="<%= team.id %>" 
               class="pacing-input" 
               step="0.1">
      <% end %>
    <% end %>
  <% else %>
    <p>No Teams</p>
  <% end %>
</ul>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".pacing-input").forEach(input => {
    input.addEventListener("change", function() {
      let teamId = this.getAttribute("data-team-id");
      let newValue = this.value;

      fetch("/update_team_pacing", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": "<%= form_authenticity_token %>"
        },
        body: JSON.stringify({ team_id: teamId, pacing: newValue })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          console.log("Updated successfully");
        } else {
          alert("Update failed");
        }
      });
    });
  });
});
</script>


