<h1>Todays Results</h1>

<ul>
<%if @results%>
  <%= table_for @results do -%>
  <% column :player do |player| %>
  <% player.fname%>
  <%end%>
  <% column :team, :title => "Opponent" do |team| %>
  <% team.name%>
  <%end%>
  <% column :salary do |salary| %>
  <% salary%>
  <%end%>
   <% column :pos do |pos| %>
  <% pos%>
  <%end%>
   <% column :projfpts do |projfpts| %>
  <% projfpts%>
  <%end%>
  <% column :projpts do |projpts| %>
  <% projpts%>
  <%end%>
  <% column :projthrs do |projthrs| %>
  <% projthrs%>
  <%end%>
  <% column :projrbs do |projrbs| %>
  <% projrbs%>
  <%end%>
  <% column :projast do |projast| %>
  <% projast%>
  <%end%>
  <% column :projblks do |projblks| %>
  <% projblks%>
  <%end%>
  <% column :projstls do |projstls| %>
  <% projstls%>
  <%end%>
  <% column :projval do |projval| %>
  <% projval%>
  <%end%>
    <%end%>
    <%else%>
    <p>No Results</p>
    <%end%>
  
</ul>