<h1>upload dvp</h1>
<%= form_tag({:action => :import_dvp}, multipart: true) do %>
<label for="file">Upload the CSV file containing DVP stats</label> 
<%= file_field_tag :dvp_file %>
<%= submit_tag ('Upload')%>
<% end %>
